@model IEnumerable<Fault_Client_Dashboard.Models.ClientTbl>

@{
    Layout = null;
}

<link href="~/Content/css/main.css" rel="stylesheet" />
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <title>Admin Panel</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header">

        <a class="app-header__logo" href="FaultDashboard">Admin Panel</a>


        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        @*<ul class="app-nav">
                <img class="app-sidebar__user-avatar" src="~/Image/@ViewBag.Image" alt="User Image" style="width: 48px; height: 48px;" />
                <div>
                    <p class="app-sidebar__user-designation" style="color:white;">@Session["SiteName"] <br />@Session["Role"]</p>
                </div>

            </ul>*@

    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
            @*<img class="app-sidebar__user-avatar" src="~/Image/@ViewBag.Image" alt="User Image" style="width: 48px; height: 48px;" />*@
            @*<div>
                    <p class="app-sidebar__user-name">@Session["FirstName"] @Session["LastName"]</p>
                    <p class="app-sidebar__user-designation">@Session["SiteName"] <br />@Session["Role"]</p>
                </div>*@
            <div>
                <p class="app-sidebar__user-name">Sam Smith</p>
                <p class="app-sidebar__user-designation">Supervisor</p>
            </div>
        </div>
        <ul class="app-menu">
            <li><a class="app-menu__item" href="/Home/FaultDashboard"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Manage Faults </span></a></li>

            <li><a class="app-menu__item active" href="/Home/ClientDashboard"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Manage Clients </span></a></li>

            <li>
                <a class="app-menu__item" href="/Home/UserProfile"><i class="app-menu__icon fa fa-user fa-lg"></i><span class="app-menu__label">Profile</span></a>
            </li>
            <li><a class="app-menu__item" href="/Home/Logout"><i class="app-menu__icon fa fa-pie-chart"></i><span class="app-menu__label">Logout</span></a></li>
        </ul>
    </aside>

    <main class="app-content">

        <div class="app-title">
            <div>
                <h1><i class="fa fa-dashboard"></i> Clients</h1>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="/Home/ClientDashboard">Dashboard</a></li>
            </ul>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered" id="sampleTable">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Employee Code</th>
                                        <th> Date Added</th>
                                        <th> Updated Date</th>                               
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmployeeCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateAdded)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdatedDate)
                                        </td>
                                        <td>
                                            <div class="btn-group"><a class="btn btn-primary"  href="@Url.Action("DeleteClient","Home", new { id = item.ClientID })"><i class="fa fa-lg fa-trash"></i></a></div>
                                        </td>
                                    </tr>
                                    }
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <!-- Essential javascripts for application to work-->
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="~/Content/js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script src="~/Content/js/plugins/chart.js"></script>
    <!-- Data table plugin-->
    <script src="~/Content/js/plugins/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>



    <style>

        a {
            color: white;
            text-decoration: none;
        }

        thead tr {
            background: #33b8bd;
        }

        body {
            background: grey;
            font-family: 'Josefin Sans', sans-serif;
        }

        h3 {
            font-family: 'Josefin Sans', sans-serif;
        }

        .box {
            padding: 60px 0px;
        }

        .box-part {
            background: #FFF;
            border-radius: 10px;
            padding: 60px 10px;
            margin: 30px 0px;
        }

        /*.box-part:hover {
                background: white;
            }

                .box-part:hover .fa,
                .box-part:hover .title,
                .box-part:hover .text,
                .box-part:hover a {
                    color: #FFF;
                    -webkit-transition: all 1s ease-out;
                    -moz-transition: all 1s ease-out;
                    -o-transition: all 1s ease-out;
                    transition: all 1s ease-out;
                }*/

        .text {
            margin: 20px 0px;
        }



        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

                .topnav a.active {
                    background-color: #4CAF50;
                    color: white;
                }

        .topnav-right {
            float: right;
        }
    </style>

</body>
</html>


